* {
    box-sizing: border-box;
}

.show-listing-wrappper {
    padding: 0 16px;
}

.show-listing-wrappper .show-listing-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}
.show-listing-wrappper .show-listing-wrap .show-listing-inner {
    width: calc((100% / 3) - 20px);
    padding: 20px 16px;
    height: 130px;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 30%);
    margin: 10px;
}
.show-listing-wrappper .pagination-links {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.show-listing-wrappper .pagination-links .page-numbers{
    margin: 0 10px;
    font-size: 18px;
}

.spettacolo-list-box{
    padding-bottom: 25px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
}
.list-date p {
    font-size: 13px;
    display: flex;
    align-items: center;
}
@media only screen and (min-width: 768px){
    .spettacolo-list-box{
        flex-direction: row;
        align-items: center;
    }
    .spettacolo-list-box h3 {
        text-align: left !important;
    }
    .spettacolo-list-box .list-cta a{
        margin-top:0px;
    }
    .spettacolo-list-box .list-location p{
        font-size: 17px !important;
    }
    .spettacolo-thumb{
        margin: 0 !important;
    }
}
.spettacolo-list-box h3 {
    font-size: 20px;
    text-align: center;
}
.spettacolo-thumb {
    max-width: 200px;
    margin: 0 auto;
}
.spettacolo-thumb img {
    max-width: 100%;
}
.spettacolo-list-box .list-title a:hover {
    text-decoration: none;
    color: #dd3d41;
}

.spettacolo-list-box .list-title a {
    text-decoration: none;
    color: #1b1b1b;
}
.spettacolo-list-box .list-cta a {
    background-color: #dd3d41;
    color: #fff;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    display: block;
    padding: 15px;
    margin-top:1rem;
    text-align: center;
    text-decoration: none;
}
.spettacolo-list-box .list-cta a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ff4b4f;
}
svg.fa-location-dot{
    height: 1em;
    margin: 7px 10px 5px 5px;
}

svg.fa-calendar{
    height: 1em;
    margin: 7px 10px 5px 5px;
}
.spettacolo-listing-box-wrapper svg.fa-clipboard-list {
    height: 1em;
    margin: 2px 10px 5px 5px;
}

.spettacolo-list-box .list-location{
    display: flex;
    align-items: center;
    justify-content: center;
}
.spettacolo-list-box .list-location p{
    font-size: 13px;
}
.spettacolo-list-box .list-date{
    display: flex;
}

.spettacolo-listing-wrapper .spettacolo-listing-box-wrapper {    
    padding: 20px 16px;        
    margin: 10px;
    border-bottom: 2px solid #d8dbe2;
}

.spettacolo-listing-wrapper .pagination-links {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.spettacolo-listing-wrapper .pagination-links a.page-numbers {
    margin: 0 10px;
    font-size: 18px;
}

.single-date-list-wrapper .single-date-list{
    display: flex;
    padding: 10px 0;
}

.spettacolo-single-wrapper{
    display: flex;
}

.spettacolo-single-wrapper .list-location{
    display: flex;
}

.spettacolo-single-wrapper .list-location p{
    margin: 0;
}
.spettacolo-single-wrapper .single-date-left {
    width: 100%;
}
.spettacolo-single-wrapper .list-date{
    display: flex;
}

.spettacolo-single-wrapper .list-date p{
    margin: 0;
}

.spe-half-wrap {
    padding: 0px 30px;
}

.spettacolo-single-wrapper {
    padding-top: 70px;
}


.spettacolo-single-inner {
    width: 100%;
}

.single-date-list-wrapper {
    padding-top: 50px;
}

.single-date-list p {
    margin: auto 50px auto 20px;
}

.spettacolo-info-wrap{
    display: flex;
}

.spettacolo-info-img{
    margin-right: 1rem;
}
.spettacolo-info-inner .list-location{
    display: flex;
}
.spettacolo-info-inner .list-date{
    display: flex;
}
.spettacolo-prices-wrap{
    display: flex;
}
.list-row{
    display: flex;
}
.price-table .table-row{
    padding: 20px 16px;
    box-shadow: none;
    margin: 10px;
    border: 1px solid #1b1b1b; 
}
.spettacolo-prices-inner {
    background: #f8f9fa;
}
.table-row .row-title{
    padding-right: 50px;
}

.button-counter{
    display: flex;
}
.button-counter input{
    border-style: hidden !important;
    max-width: 45px !important;
    text-align: center;
}
.table-row .row-title {
    padding-right: 15px;
}
@media (max-width: 400px){
    .spettacolo-prices-inner .seat-desc {
    font-size: 14px;
    }
    .spettacolo-prices-inner .seat-price {
    font-size: 14px;
    }
    .spettacolo-prices-inner .change-seat-dropdown select {
    font-size: 14px;
    }
.list-table-wrap{
overflow: scroll;
}
.price-table .table-row{   width: 306px;}

.spettacolo-prices-wrapper .row-title p {
    font-size: 14px;
}
.spettacolo-prices-wrapper .spettacolo-prices-wrap .row-price p {
    font-size: 14px;
}
.total-values-wrap {
    flex-direction: column;
}
}
.spettacolo-prices-wrapper .list-row button {
    border-radius: 0;
    background: #343a40;
    -webkit-appearance: button !important;
    box-shadow: 0px 0px 0px -7px rgba(0,0,0,0);
    padding: 0.4em 1em;
    border: 0;
    line-height: 1.6;
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease;
    font-size: 100%;
}
.spettacolo-prices-wrapper .list-row button.cart-qty-minus {
    opacity: 0.25;
    color: #fff;
}
.spettacolo-prices-wrapper .container{
    width: 100%;
}
.spettacolo-seat-map-body .container{
    max-width: 1500px;
}
.spettacolo-prices-inner ul.tab {
    list-style: none;
    padding-left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.spettacolo-prices-inner ul.tab li {
    flex: 1 1 auto;
    text-align: center;
}
.spettacolo-prices-inner ul.tab li a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000;
    background-color: transparent;
    text-transform: uppercase;
}
.spettacolo-prices-inner ul.tab li.active a {
    background: #000;
    color: #fff;
}
.spettacolo-prices-inner .priceqty {
    display: flex;
    align-items: center;
}
.spettacolo-prices-inner ul.tab li a:hover {
    background: #000;
    color: #fff;
}
.spettacolo-prices-wrap .list-table-wrap .list-row {
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid #cccecf;
    border-top: 1px solid #cccecf;
    border-style: dotted;
    border-right: 0;
    border-left: 0;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.spettacolo-prices-wrapper .row-title p {
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}
.spettacolo-prices-wrapper .zone-pricing {
    display: block;
    margin-bottom: 1rem;
}

.spettacolo-prices-wrapper .zone-pricing p {
    font-size: 14px;
    color: #6c757d;
}
.spettacolo-prices-wrapper .spettacolo-prices-inner ul.tab {
    list-style: none;
    padding-left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.spettacolo-prices-wrapper .showheader{
    background: #343a40;
    padding:1rem;
}
.spettacolo-prices-wrapper .showheader a.backtoshow {
    color: #fff;
}
.spettacolo-prices-wrapper .showheader h3 {
    color: #fff;
}
.spettacolo-prices-wrapper .showheader .spettacolo-info-inner {
    color: #fff;
}
.spettacolo-prices-wrapper .spettacolo-info-img img {
    max-width: 80px;
    border-radius: 10px;
}
.spettacolo-prices-wrapper .spettacolo-info-wrap{
        justify-content: left;
        align-items: center;
}
.spettacolo-prices-wrapper .spettacolo-prices-wrap{
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top: 50px;
    align-items: flex-start;
}

.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap:first-child {
    width: 100%;
    padding: 0 !important;
}
.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap:last-child{
    width: 100%;
    padding: 0 !important;
}

.price-table .table-row{
    margin:0 !important;
}


@media screen and (min-width: 768px) {
  .spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap:first-child {
    width: 50%;
    }
.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap:last-child{
    width: 50%;
    }  
    .price-table .table-row{
    margin-top: 10px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 10px !important;
    }
}

.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap img{
    width: 100%;
}
.spettacolo-prices-inner .selected-seat-row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #cccecf;
    border-top: 1px solid #cccecf;
    border-style: dotted;
    border-right: 0;
    border-left: 0;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.spettacolo-prices-wrapper .spettacolo-prices-wrap .row-price {padding-right: 20px;}
.total-values-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #343a40;
    color: #fff;
}
.total-values-wrap button.buy-btn {
    background-color: #dd3d41;
    color: #fff;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    display: block;
    padding: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    border:0;
}
.total-values-wrap .total-values{
    display: flex;
}
.ticket-total-wrap{
    display: flex;
}
.cart-page-btn {
    display: inline-block;
}
.events-wrapper {
    border: 1px solid gray;
    padding: 10px 20px;
    margin-bottom: 5px;
}

.ticket-title {
    border-bottom: 1px solid gray;
    background: gray;
    padding: 5px 10px;
}

.ticket-title h2 {
    color: #ffffff;
}

.zone-title {
    padding: 5px 20px;
}

.ticket-zone ul, .ticket-zone ul li{
    list-style-type: none;
}
.ticket-zone ul {
    display: flex;
    flex-direction: column;
    padding-bottom : 15px
}
.ticket-zone ul li span{
    color: gray;
    font-size: 14px;
    margin-left: 10px;
}
.ticket-zone:not(:last-child) {
    border-bottom: 1px solid gray;
}
.wc-spettacolo-cart-wrapper {
    width: 100%;
    display: flex;
}

.wc-spettacolo-cart-wrapper .ticket-zone {
    /*width: 50%;*/
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    /* border-right: 1px solid #000000; */
    border-bottom: 0px solid;
    padding-left: 0;
}
.spettacolo-cart-inner .ticket-title h2 {
    color: #1b1b1b;
    text-align: left;
    font-size: 15px;
}
.wc-spettacolo-cart-wrapper .ticket-zone .zone-title {
    padding-left: 0;
}
.spettacolo-cart-inner .ticket-title {
    background: transparent;
    padding: 0;
    border-bottom: 0;
}
.wc-spettacolo-cart-wrapper .zone-reductions {
    width: 50%;
    display: inline-block;
}

.wc-spettacolo-cart-wrapper .zone-title h4 {
    font-size: 18px;
}

.wc-spettacolo-cart-wrapper .zone-reductions p {
    font-size: 14px;
}

.wc-spettacolo-cart-wrapper .spettacolo-tickets {
    display: flex;
    flex-wrap: wrap;
}
.wc-spettacolo-cart-wrapper .ticket-zone:nth-child(3n + 1),
.wc-spettacolo-cart-wrapper .ticket-zone:nth-child(2){
    border-left: 0px solid #000000;
}
.woocommerce-account .order-print a.button {
    display: flex !important;
}
#login-fancybox-form .woocommerce-form-row label, #login-fancybox-form button[type="submit"] {
    width: 100%;
    display: block;
}
.spettacolo-list-box svg path {
    fill: #dd3d41 !important;
}
.spettacolo-month-filter .spettacolo-month {
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    font-size: 20px;
}

.spettacolo-month-filter {
    flex-wrap: wrap;
    row-gap: 10px;
    display: flex;
    column-gap: 10px;
    border-bottom: 1px solid #857b7b;
    padding-bottom: 1rem;
    justify-content: space-between;
}
.spettacolo-prices-img image {
    scale: 2;
    transform: translate(-4px, -4px);
}
.spettacolo-prices-img circle {
    scale: 2;
}
.error-display {
    color: red;
}
.error-msg {
    padding: 4% 10%;
    color: red;
    font-size: 20px;
}
/*.spettacolo-cart-inner .zone-reductions{
    display: flex;
}*/

.spettacolo-prices-page .content-container.site-container { max-width: 96%;}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: auto;
    }
}

.spettacolo-prices-inner .title h2 {
    font-size: 28px;
    margin: 0;
}
.spettacolo-prices-wrapper .row-title p {
    margin: 0;
    color: #1b1b1b;
    font-size: 17px;
}
.spettacolo-prices-wrapper .row-price p {
    margin: 0;
    font-size: 17px;
    color: #1b1b1b;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

.spettacolo-prices-inner .title-wrap {
    position: relative;
}

.spettacolo-prices-inner .title-wrap svg {
    width: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s ease all;
}

.spettacolo-prices-inner .title-wrap.open svg{
    transform: translateY(-50%) rotateZ(90deg);
}

.spettacolo-prices-inner .table-row .title span {
    background-color: #e0e5e9;
    display: inline-flex;
    width: 15px;
    height: 15px;
    content: '';
    margin-right: 1rem;
    align-items: flex-end;
}

.spettacolo-prices-inner .table-row .title {
    display: flex;
    align-items: center;
}

.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap.left_part {
    position: relative;
}

.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap.left_part .controls.custom-controls {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: column wrap;
    padding-right: 10px;
    /* width: auto !important; */
}

.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap.left_part .controls.custom-controls button {border-radius: 0;color: #000;border-color: #000;border: 1px solid;background: transparent;padding: 9px 12px;font-size: .875rem;line-height: 20px;}
.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap.left_part .controls.custom-controls button:hover { background: #000; } 
.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap.left_part .controls.custom-controls button:hover svg { fill: #fff; }

.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap.left_part .controls.custom-controls button#reset { margin-top: 15px; }
.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap.left_part .controls.custom-controls button#zoom-out { border-top: 0; }

@media (max-width: 991px) and (min-width: 768px) {
    .spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap.left_part .controls.custom-controls { flex-flow: row wrap; }
    .spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap.left_part .controls.custom-controls button#reset { margin-top: 0; margin-left: 15px; }
    .spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap.left_part .controls.custom-controls button#zoom-out { border-top: 1px solid; border-left: 0; }  
}

select#reg_country_code, select#reg_country_codegishdgrd {
    border: none;
    border-bottom: 2px solid #857b7b;
    padding-top: 1rem;
    padding-bottom: 1.1rem;
    max-width: 100px;
    font-family: 'Inter';
    color: #857b7b;
    font-weight: 600;
    font-size: max(15px,min(1.1vw,16px))!important;
    line-height: 1.5;
}
.woocommerce-checkout input#billing_phone {
    pointer-events: none;
    display: none;
}

table.woocommerce-checkout-review-order-table thead {
    display: none;
}

.woocommerce-checkout-review-order .product-total {
    display: none;
    width: 0px;
}

.woocommerce-checkout-review-order td.product-name {
    width: 100%;
}

.spettacolo-tickets .ticket-datails-wrap.border-bot {
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}
.woocommerce table.shop_table td {
    border-top : none !important;
}

.spettacolo-prices-wrapper .spettacolo-prices-wrap .spe-half-wrap.left_part .controls.custom-controls { 
    background-color: #fff;
    z-index: 9999; 
}
.spettacolo-prices-img {
    position: relative !important;
}

.tooltip {
    position: absolute;
    /*                  top: 30px;  Adjust this value to position the tooltip above the SVG 
    left: 50%;*/
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none; /* Initially hide the tooltip */
}

.spettacolo-prices-img:hover .tooltip {
    display: block; /* Show the tooltip on hover */
}

.seat-delete svg {
    width: 16px;
    height: 17px;
    cursor: pointer;
    color: #f9f9f9;
}
.seat-price-wrap { display: flex; gap: 10px; align-items: center; flex-wrap: wrap; }
.seat-price-wrap .seat-price { border: 1px solid #a19e9e; padding: 0px 5px; }
.seat-price-wrap .seat-delete { display: flex; align-items: center; flex-wrap: wrap; }
.select-subscription-wrap .table-row { display: flex; gap: 10px; align-items: center; flex-wrap: wrap; }

.woocommerce-cart table.cart .ticket-delete img {
    width: 16px;
    height: 17px;
    cursor: pointer;
    color: #f9f9f9;
}
.ticket-title-wrap { display: flex; gap: 10px; align-items: center; flex-wrap: wrap; }
.ticket-title-wrap .ticket-delete { display: flex; align-items: center; flex-wrap: wrap; }

#order_review .ticket-delete {display:none;}

.woocommerce-cart .product-name .go-to-subscription-btn {
    display: inline-block;
    text-decoration: none;
    background: var(--primary);
    color: #fff;
    border-radius: 3px;
    padding: 12px 30px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


/* jr style*/
.subsciption-list .spettacolo-info-inner-wrap {
    padding-left: calc(10vw - 15px);
    padding-right: calc(10vw - 15px);
    display: flex;
    align-items: center;
}

.subsciption-list .spettacolo-info-inner-wrap .spe-info-half-wrap {
    width: 30%;
}
.subsciption-list .spettacolo-info-inner-wrap .spe-info-half-wrap .spettacolo-info-img img{
    max-width: 220px;
    width: 100%;
}

.subsciption-list .spettacolo-info-inner-wrap .spe-info-half-wrap.descpription-right {
    width: 60%;
}

.subsciption-list .spettacolo-info-inner-wrap .spettacolo-info-inner .list-date {
    align-items: start;
}

.subsciption-list .spettacolo-info-inner-wrap .spettacolo-info-inner .list-date p {
    padding: 0;
    margin: 0;
}

.subsciption-list .spettacolo-info-inner-wrap .spettacolo-info-inner .list-title h3 {
    margin: 0;
    padding: 0;
}

.subsciption-list .spettacolo-info-inner-wrap .drop-select-box {
    display: flex;
    gap: 30px;
	width: 40%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.subsciption-list .spettacolo-info-inner-wrap .drop-select-box select {
    min-width: 200px;
    padding: 10px;
}

.subsciption-list .spettacolo-info-inner-wrap .drop-select-box .single-date-right a button {
    padding: 12px 31px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
.subscription-check-wrap { margin: 50px; }
.subscription-check-wrap .subscription-check-form { max-width: 570px; margin: 0 auto; padding: 50px; background: #f5f6f6; border: 1px solid #000; }
.subscription-check-wrap .subscription-check-form .subscription-check-input-wrap { display: inline-block; vertical-align: middle; }
.subscription-check-wrap .subscription-check-form .subscription-check-btn-wrap { display: inline-block; vertical-align: middle; margin-left: 5px; }
.subscription-check-wrap .subscription-check-form .subscription-check-input { border: 1px solid #000 !important; box-shadow: none !important; }
.subscription-check-wrap .subscription-check-form .subscription-check-btn { background: #000; color: #fff; vertical-align: middle; cursor: pointer; height: 60px; }

.woocommerce-account.woocommerce-view-order .ticket-title .spettacolo:before {
    content: 'Spettacolo:';
}
.woocommerce-account.woocommerce-view-order .ticket-title .abbonamento:before {
    content: 'Abbonamento:';
}
.woocommerce-order-details .print-error-msg {
    color: red;
}
.subscription-check-form .subscription-check-error p {
    color: red;
}
.subscription-orders-table .subscription-view-error {
    color: red;
}
.spettacolo-cart-inner p:empty {
    display: none;
}
.vivaticket-original-field{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}
div#edit-fancybox-form {
    max-width: 600px;
}

p:not(.bf-title).upd-phone-msg {
    font-size: 14px !important;
}
@media (max-width: 767px) {
    .fancybox-content{
        max-height: 630px;
        overflow: auto;
    }
    
    .fancybox-content::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    .fancybox-content::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgb(144 138 138 / 50%);
      box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
}

.wc-empty-cart-message {
    margin: 5% auto 0;
    width: 75%;
}
.woocommerce-MyAccount-content ul.abbonamenti {padding: 0;}
.woocommerce-MyAccount-content ul.abbonamenti li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
}
.woocommerce-MyAccount-content p a:link {display: none;}
.woocommerce-account .order-print a.button {display: block;}
.woocommerce-cart .product-name > a {display: none;}
.woocommerce-cart dt.variation-SelectedSeats {display: none !important;}
.wc-spettacolo-cart-wrapper .ticket-zone{display: block !important;}
.wc-spettacolo-cart-wrapper .spettacolo-tickets{display: block !important;}
.wc-spettacolo-cart-wrapper{display: block !important;}
.spettacolo-prices h1.bf-title {display: none;}
.spettacolo-prices-wrapper .showheader h3 {
color: #fff;
font-size: 24px;
}
.spettacolo-prices .list-location p {
margin-top: 0;
color: #fff;
font-size: 17px;
font-weight: 900;
}
.spettacolo-prices .list-date p {
margin-top: 0;
color: #fff;
}
.spettacolo-prices .priceqty .cart-qty-counter .button-counter input.qty {
font-size: 14px;
color:#000 !important;
}
.user-registration input {
padding: 0.3rem;
}
.user-registration form p {
font-size: 16px;
}
.user-registration h1.bf-title {
display: none;
}
.woocommerce-account .addresses .title h3 {
font-size: 24px;
}
.woocommerce-account header.woocommerce-Address-title.title {
display: flex;
flex-direction: column;
margin-bottom: 1rem;
}
.woocommerce-account .addresses .title .edit {
background: red;
width: fit-content;
color: #fff;
text-decoration: none;
-webkit-font-smoothing: antialiased;
padding: 1rem;
text-transform: uppercase;
font-weight: 600;
}

/*CART PAGE MOBILE*/
@media (max-width: 576px) {
.woocommerce-cart .cart-wrap{
flex-direction:column;
}
.wc-spettacolo-cart-wrapper .ticket-zone .zone-title {
text-align: left;
}
.wc-spettacolo-cart-wrapper .zone-reductions{
text-align: left;
width: 100%;
}
.woocommerce-cart .coupon button.button.wp-element-button {
font-size: 10px;
}
.woocommerce-cart .coupon input#coupon_code {
font-size: 12px;
}
.woocommerce-cart .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before{
    display: none;
}
.woocommerce-cart tr.cart-subtotal {
display: flex !important;
align-items: center;
justify-content: space-between;
}
.woocommerce-cart .woocommerce table.shop_table_responsive tbody th, .woocommerce-page table.shop_table_responsive tbody th{
    display: block;
}
.woocommerce-cart tr.order-total {
display: flex !important;
justify-content: space-between;
border-top: 1px solid #dd3d41;
}
.wc-spettacolo-cart-wrapper .zone-title h4 {
margin: 0;
}
.woocommerce-cart .woocommerce .quantity .qty {
padding: 4px;
}
.woocommerce-cart td.product-price {
display: none !important;
}
.woocommerce-cart .woocommerce {
padding-top: 4em !important;
}
}
/*CART PAGE MOBILE*/
/*CART PAGE GENERIC*/
.woocommerce-notices-wrapper {
background: transparent;
}
/*CART PAGE GENERIC*/
/*CHECKOUT MOBILE*/
@media (max-width: 576px) {
.woocommerce-checkout .woocommerce {
padding-top: 4em !important;
}
}
/*CHECKOUT MOBILE*/
@media (max-width: 576px) {
.woocommerce-checkout .woocommerce {
padding-top: 4em !important;
}
}
/*CHECKOUT MOBILE*/
@media (max-width: 576px) {
.woocommerce-checkout .woocommerce {
padding-top: 4em !important;
}
}
/*CHECKOUT MOBILE*/
@media (max-width: 576px) {
.woocommerce-checkout .woocommerce {
padding-top: 4em !important;
}
}
/*CHECKOUT MOBILE*/
@media (max-width: 576px) {
.woocommerce-checkout .woocommerce {
padding-top: 4em !important;
}
.woocommerce-checkout .woocommerce-info:before {
display: none;
}

.woocommerce-checkout .woocommerce-info {
    font-size: 13px;
    padding-left: 7px;
    width: 100%;
    text-align: center;
}
.woocommerce-checkout a.showcoupon {
display: block;
}
.woocommerce-checkout .checkout_coupon.woocommerce-form-coupon {
padding-top: 2px !important;
}
.woocommerce-checkout .checkout_coupon.woocommerce-form-coupon {
padding-top: 2px !important;
}
.woocommerce-checkout input#coupon_code {
font-size: 11px;
}
.woocommerce-checkout .woocommerce-form-coupon button.button.wp-element-button {
font-size: 11px;
}
.woocommerce-checkout h3 {
font-size: 25px;
}
}

/*CHECKOUT MOBILE*/
@media (max-width: 576px) {
.woocommerce-checkout .woocommerce {
padding-top: 4em !important;
}
.woocommerce-checkout .woocommerce-info:before {
display: none;
}

.woocommerce-checkout .woocommerce-info {
    font-size: 13px;
    padding-left: 7px;
    width: 100%;
    text-align: center;
}
.woocommerce-checkout a.showcoupon {
display: block;
}
.woocommerce-checkout .checkout_coupon.woocommerce-form-coupon {
padding-top: 2px !important;
}
.woocommerce-checkout .checkout_coupon.woocommerce-form-coupon {
padding-top: 2px !important;
}
.woocommerce-checkout input#coupon_code {
font-size: 11px;
}
.woocommerce-checkout .woocommerce-form-coupon button.button.wp-element-button {
font-size: 11px;
}
.woocommerce-checkout h3 {
font-size: 25px;
}
}

/*CHECKOUT MOBILE*/
/*CHECKOUT GENERIC*/
.woocommerce-checkout .woocommerce form .form-row label {
font-size: 14px;
}
.woocommerce-checkout input, .woocommerce-checkout select {
padding: 10px;
font-size: 14px;
}
.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__rendered {
height: 40px !important;
font-size: 14px;
}
.woocommerce-checkout span.select2-selection__arrow {
height: 40px !important;
max-height: 40px;
}
.woocommerce-checkout span.select2-selection.select2-selection--single {
max-height: 40px;
}
.woocommerce-checkout .woocommerce-privacy-policy-text p {
font-size: 14px;
}
.woocommerce-checkout ul.wc_payment_methods.payment_methods.methods {
display: none;
}
.woocommerce-checkout .woocommerce-form-coupon button.button.wp-element-button {
font-size: 17px;
}
/*CHECKOUT GENERIC*/
/*TEST USER REG*/
.user-registration .woocommerce-form .form-row label {
display: block;
}
.user-registration .woocommerce-form input#reg_country_code {
/* width: auto; */
max-width: 47px;
}
.user-registration .woocommerce-form input#reg_dob {
font-family: 'Inter';
}
.user-registration p.introtext {
font-size: 14px;
color: #1b1b1b;
text-align: center;
}
.user-registration #customer_login h2 {
text-align: center;
}
form.woocommerce-form.woocommerce-form-register.register {
text-align: center;
}
@media (min-width: 768px) {
.user-registration input {
width: 35%;
}
.user-registration .woocommerce-form input#reg_billing_phone {
max-width: 32%;
}
}
/*REGISTRAZIONE UTENTE MOBILE*/
@media (max-width: 576px) {
.user-registration .woocommerce-form input {
width: 77%;
}
.user-registration .woocommerce-form input#reg_billing_phone {
width: 61% !important;
}
.user-registration .main .simple-title {
padding-top: 0rem !important;
}
.user-registration .woocommerce-privacy-policy-text {
width: 80%;
}

.user-registration .woocommerce-privacy-policy-text p {
font-size: 10px !important;
text-align: justify;
}
}
/*REGISTRAZIONE UTENTE MOBILE*/
/*TEST USER REG*/
/*LOGIN POPUP FORM*/
div#login-fancybox-form .woocommerce-notices-wrapper {
padding: 0;
}

div#login-fancybox-form h2 {
margin: 0;
}
div#login-fancybox-form .woocommerce-form label {
      font-size: 15px;
  }
div#login-fancybox-form .woocommerce-form input.input-text {
padding: 10px;
width: 100%;
}
div#login-fancybox-form .woocommerce-form input#rememberme {
padding: 8px;
}
div#login-fancybox-form .woocommerce-form label.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
display: flex;
align-items: center;
margin-bottom: 1rem;
}
div#login-fancybox-form .woocommerce-form p {
font-size: 14px;
}
@media (max-width: 576px) {
  div#login-fancybox-form .woocommerce-form label {
      font-size: 12px;
  }
}
/*LOGIN POPUP FORM*/
/*SPETTACOLO PRICESE MOBILE*/
@media (max-width: 576px) {
  .spettacolo-prices-wrapper .showheader a.backtoshow {
    font-size: 11px;
  }
  .spettacolo-prices-wrapper .showheader h3 {
    font-size: 15px;
  }
  .spettacolo-prices .list-location {
    display: flex;
    align-items: center;
}
  .spettacolo-prices .list-location p {
    font-size: 12px;
  }
  .spettacolo-prices .list-date p {
    font-size: 11px;
  }
  .spettacolo-prices-inner ul.tab li a {
    font-size: 13px;
  }
  .spettacolo-prices-wrapper .row-title p {
    font-size: 13px;
  }
}
/*SPETTACOLO PRICESE MOBILE*/
/*LOGIN PAGE MOBILE*/
@media (max-width: 576px) {
 .page-template-accedi a#lostPassword {
  left: 1rem;
}
.page-template-accedi #loginform p {
  margin: 0;
  margin-bottom: 1rem;
}
.page-template-accedi #loginform label {
  font-size: 14px !important;
}
.page-template-accedi #loginform input[type="text"], .page-template-accedi #loginform input[type="password"] {
padding: 4px !important;
}
.page-template-accedi #loginform p.login-remember {
  margin-top: 1rem;
}

.page-template-accedi #loginform p.login-submit {
  margin-top: 0;
}
}
/*LOGIN PAGE MOBILE*/

/*NEW REG FORM*/
.vc_row.wpb_row.vc_row-fluid.--light-gray.vc_custom_1683895315619.vc_row-has-fill.vc_row-bf-default {
background-color: #fff !important;
}
.user-registration .woocommerce-form .form-row label{
font-size: max(20px,min(.8vw,26px));
}
form.woocommerce-form.woocommerce-form-register.register .form-control-row {
display: flex;
flex-direction: column;
}
form.woocommerce-form.woocommerce-form-register.register .form-control-row .form-control{
    width: 100%;
}
form.woocommerce-form.woocommerce-form-register.register{
text-align: left !important;
}
@media only screen and (min-width: 768px){
form.woocommerce-form.woocommerce-form-register.register .form-control-row {
flex-direction: row;
justify-content: space-around;
}
form.woocommerce-form.woocommerce-form-register.register .form-control-row .form-control{
    width: 43%;
    margin-top: 1rem;
}
.user-registration input {
width: 100%;
}
.user-registration .woocommerce-form input#reg_billing_phone{
    max-width: 47% !important;
}
}

@media only screen and (max-width: 567px){
.user-registration .woocommerce-form input{
    width: 100% !important
}
}
/*NEW REG FORM*/

.spettacolo-prices-wrapper .list-row button {
color: #fff !important;
}

.price-table .table-row{
padding:5px 16px !important;
border: none !important;
background:#f8f9fa !important;
}
.zone-pricing p {
margin-top: 14px;
}
.spettacolo-prices-inner {
background: transparent !important;
}

.spettacolo-prices-wrapper .showheader {
background: transparent !important;
}

.spettacolo-prices-wrapper .showheader h3 {
color: #000 !important;
}

.spettacolo-prices svg.fa-location-dot path {
fill: #dd3d41 !important;
}

.spettacolo-prices .list-location p{
color: #1c1c1c !important;
}

.spettacolo-prices svg.fa-calendar path {
fill: #dd3d41 !important;
}

.spettacolo-prices .list-date p{
color: #1c1c1c !important;
}

.spettacolo-prices-wrapper .showheader a.backtoshow{
display: none !important;
}

/* p.mc4wp-checkbox.mc4wp-checkbox-wp-registration-form span {
    color: #000;
} */
p.mc4wp-checkbox.mc4wp-checkbox-wp-registration-form input[type="checkbox"] {
width: auto !important;
margin-right: 0.5rem;
}

/*MAPPA IN SPETTACOLO*/
.spettacolo-prices-img image{
scale:1 !important;
}

.spettacolo-prices-img circle{
scale:1 !important;
}

.spettacolo-prices-img svg#svgSeatSvg {
height: unset !important;
}
/*MAPPA IN SPETTACOLO*/

/*CARRELLO PRICES*/
.woocommerce-cart .reduction-title-wrap {
display: flex;
align-content: center;
justify-content: flex-start;
}

.woocommerce-cart .reduction-title-wrap p {
margin-right: 1rem;
}

.tipoticketeprezzo {
display: flex;
}
.woocommerce-cart  .seat-title p, .woocommerce-cart .tipoticketeprezzo .reduction-title p, .woocommerce-cart .tipoticketeprezzo .reduction-qty p, .woocommerce-cart .tipoticketeprezzo .reduction-price p {
color: #000 !important;
font-weight: 500 !important;
font-size: max(18px,min(.7vw,22px))!important;
}
.woocommerce-cart  .zone-reductions {
border-bottom: 1px solid;
}
.woocommerce-cart th.product-name {
font-size: 0;
}
.woocommerce-cart .ticket-title h2 {
line-height: 2.3 !important;
color: #000 !important;
display: block;
}
/*CARRELLO PRICES*/

/*add to cart sticky*/
.spettacolo-prices-page .total-values-wrap {
position: fixed;
bottom: 0;
width: 100%;
left: 0;
z-index: 999;
}


/*TIMER*/

.page.cart .timer{
padding: 1rem!important;
background-color: transparent !important;
width: 125px;
border-radius: 5px;
text-align: center;
margin-bottom: 1rem;
}
.page.cart .timetext {
color: #df3b3c;
font-weight: 700;
font-size: 4vw;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.page.cart .timetext::before{
font-size: 4vw;
display: inline-block;
width: 20px;
font-family: 'dashicons';
content: '\f469';
    margin-right:1rem !important;
color:#df3b3c;
}

@media (min-width:768px){

        .page.cart .timer{
        max-width: 230px;
        width: 150px;
        }

        .page.cart .timetext{
        font-size: 1.2rem;
        }

        .page.cart .timetext::before {		   
        font-size:2vw;
        margin-right:.4vw;
        }

}

/*TIMER*/

/*MY ACCOUNT VIEW ORDER AREA*/

.woocommerce-account.woocommerce-view-order table.shop_table tbody:first-child tr:first-child th {
display: flex;
color: #1b1b1b;
font-size: max(18px,min(1.1vw,24px)) !important;
color: #1b1b1b;
text-transform: uppercase;
font-weight: 500;
}

.woocommerce-account.woocommerce-view-order .ticket-title h2{
color: #6c757d !important;
font-size:max(18px,min(1.1vw,24px));
font-weight: 500;
text-transform:uppercase;
}
.woocommerce-account.woocommerce-view-order .ticket-title h2:before {
display: block;
font-size: max(18px,min(1.1vw,24px));
content: 'Spettacolo:';
color: #1b1b1b;
}
.woocommerce-account.woocommerce-view-order .ticket-zone .zone-title h4 {
text-transform: uppercase;
font-size: max(18px,min(1.1vw,24px));
font-weight: 500;
color: #6c757d;
}
.woocommerce-account.woocommerce-view-order .ticket-zone .zone-title h4:before{
display: block;
font-size: max(18px,min(1.1vw,24px));
content: 'Dettaglio:';
color: #1b1b1b;
}

.woocommerce-account.woocommerce-view-order .tipoticketeprezzo .reduction-title-wrap .reduction-title p {
font-size: max(18px,min(1.1vw,24px)) !important;
color: #6c757d !important;
font-weight: 500;
margin-right: 0.5rem;
margin-top: 0.5rem;
}
.woocommerce-account.woocommerce-view-order .tipoticketeprezzo .reduction-title-wrap .reduction-qty p {
font-size: max(18px,min(1.1vw,24px)) !important;
color: #6c757d !important;
font-weight: 500;
margin-top: 0.5rem;
}
.woocommerce-account.woocommerce-view-order .tipoticketeprezzo .reduction-title-wrap .reduction-qty p:before {
/* display: flex; */
content: 'Qtà: ';
color: #1b1b1b;
}
.woocommerce-account.woocommerce-view-order .tipoticketeprezzo .reduction-price p:before{
content: 'Prezzo:';
margin-left: 0.5rem;
color: #1b1b1b;
}
.woocommerce-account.woocommerce-view-order .tipoticketeprezzo .reduction-price p{
font-size: max(18px,min(1.1vw,24px)) !important;
color: #6c757d !important;
font-weight: 500;
margin-top: 0.5rem;
}
.woocommerce-account.woocommerce-view-order .zone-reductions {
width: 100% !important;
}
.woocommerce-account.woocommerce-view-order .zone-reductions .seat-title p {
font-size: max(18px,min(1.1vw,24px)) !important;
color: #6c757d !important;
font-weight: 500;
margin-top:0;
}
.woocommerce-account.woocommerce-view-order .tipoticketeprezzo .reduction-title-wrap{
display: flex;
}


.woocommerce-account.woocommerce-view-order table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tfoot th {
color: #1b1b1b;
color: #1b1b1b;
font-size: max(18px,min(1.1vw,24px)) !important;
color: #1b1b1b;
text-transform: uppercase;
font-weight: 500 !important;
}
.woocommerce-account.woocommerce-view-order table:nth-of-type(2) {
text-align: left !important;
border-bottom: 1px solid #e5e5e5;
padding-bottom: 1rem;
}
.woocommerce-account.woocommerce-view-order table:nth-of-type(2) th {
color: #1b1b1b;
font-weight: 500;
text-transform: uppercase;
}
.woocommerce-account.woocommerce-view-order table:nth-of-type(2) td {
font-size: max(18px,min(1.1vw,24px)) !important;
color: #6c757d !important;
font-weight: 500;
text-transform: uppercase;
}
.woocommerce-account.woocommerce-view-order table:nth-of-type(2) a.button.order-print-btn {
text-align: center;
transition: .2s ease-in-out;
color: #fff;
background: var(--primary);
}
.woocommerce-account.woocommerce-view-order table:nth-of-type(2) a.button.order-print-btn:hover {
background: #857b7b;
color: #1b1b1b;
}
.woocommerce-account.woocommerce-view-order table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tfoot td {
border-top: 1px solid #e5e5e5 !important;
}
/*MY ACCOUNT VIEW ORDER AREA*/

/*TICKET QTY TEXT AREA*/


/*SUB LISTING MOBILE*/
@media (max-width: 576px) {
.subsciption-list .spettacolo-info-inner-wrap {
flex-direction: column;
justify-content: center;
padding-left: 0;
padding-right: 0;
    border-bottom: 1px solid;
padding-bottom: 2rem;
}
.subsciption-list .spettacolo-info-inner-wrap .drop-select-box{
flex-direction: column;
width: 100%;
}
.subsciption-list .spettacolo-info-inner-wrap .spettacolo-info-inner .list-title h3{
text-align: center;
font-size: 1.5rem;
margin-bottom: 1rem;
}
.subsciption-list .spettacolo-info-inner-wrap .spe-info-half-wrap{
width: 100%;
text-align: center;
}
.subsciption-list .spettacolo-info-inner-wrap .spe-info-half-wrap .spettacolo-info-img img{
    max-width:190px;
}
}

/*POPUP SUBSCRIPTION*/
div#subscription-fancybox-wrap button.cart-buy-btn.buy-btn {
background-color: #df3b3c;
border: none;
color: #fff;
padding: 1rem;
margin: 0 auto;
font-size: 20px;
}

@media only screen and (max-width: 600px) {
div#subscription-fancybox-wrap {
padding: 5px;
}
}

div#subscription-fancybox-wrap ul.event-ticketlist-wrap {
list-style: none;
/* margin-left: 0; */
padding-left: 0;
}
div#subscription-fancybox-wrap select#subscription-code {
/* border: none; */
padding-top: 1rem;
padding-bottom: 1rem;
width: 100%;
font-size: 15px;
}


div#subscription-fancybox-wrap ul.event-ticketlist-wrap .table-row {
flex-direction: column;
text-align: left;
align-items: flex-start !important;
align-content: flex-start !important;
}
/*POPUP SUBSCRIPTION*/

/*NASCONDO AGGIORNA CARRELLO DA CART PAGE*/
.woocommerce-cart .actions button[name="update_cart"] {
display: none;
}
/*NASCONDO AGGIORNA CARRELLO DA CART PAGE*/

/*FIX SIDEBAR RIGHT CHECKOUT SUMMARY*/
.woocommerce-checkout .wc-spettacolo-cart-wrapper .zone-reductions{
width:100% !important;
}

.woocommerce-checkout .reduction-title-wrap {
display: flex;
margin-right: 1rem;
}

.woocommerce-checkout .tipoticketeprezzo {
display: flex;
flex-direction: row;
width: 100%;
}

.woocommerce-checkout .reduction-title-wrap .reduction-title {
margin-right: 1rem;
}
/*FIX SIDEBAR RIGHT CHECKOUT SUMMARY*/

/*PULSANTE BUY DETTAGLIO CARNET*/
.single-spettacolo .single-date-right a button {
background-color: #dd3d41;
color: #fff;
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
width: 100%;
display: block;
padding: 15px;
/* margin-top: 1rem; */
text-align: center;
text-decoration: none;
border: none;
font-size: 1rem;
}

.single-spettacolo .single-date-right a {
text-decoration: none;
}

.single-spettacolo .single-date-list{
align-items:center;
}

/*PULSANTE BUY DETTAGLIO CARNET*/

button {
cursor: pointer !important;
}

.shop_table.cart.woocommerce-cart-form__contents td.product-remove {
display:none;
}

.woocommerce-cart .zone-reductions{
width: 100%;
font-size: 1rem;
}

.single-spettacolo .single-date-list-title {
display: none;
}

.single-spettacolo .single-date-list-lists .single-date-list .single-date-left {
display: none;
}

.single-spettacoli a#buyTicket {
font-size: 13px !important;
}


.mio-account mark {
background: transparent !important;
}


/*MY ACCOUNT INTRO*/
.mio-account ul#intro-dashboard {
list-style: none;
line-height: 1.5;
padding-left: 0;
}

.mio-account ul#intro-dashboard li a {
color: #000;
text-decoration: none;
}

#intro-dashboard li a:before {
display: inline-block;
content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='26' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9h24' stroke='%23DF3B3C' stroke-width='2.5'/%3E%3Cpath d='m16 17 8-8-8-8' stroke='%23DF3B3C' stroke-width='2'/%3E%3C/svg%3E");
margin-right: 1rem;
}

.woocommerce-cart th.product-subtotal {
display: none;
}
.woocommerce-cart table.shop_table.shop_table_responsive tr.cart-subtotal {
display: none;
}
.woocommerce-cart .shop_table td.product-subtotal {
display: none;
}
.woocommerce-cart .spettacolo-tickets .ticket-datails-wrap.border-bot {
border-bottom: 0;
}


.user-registration {
input#privacy_policy_reg {
WIDTH: AUTO;
}
}